@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (currentCount > 10)
{
    <div>count 10 over</div>
}
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
